.header {
  border-bottom: 1px solid #ececec;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  align-items: center;
  background-color: #ffffff;
}
.nav__section {
  display: flex;
  margin-right: auto;
}

/*    logo */

.header-logo__second-word {
  color: var(--logo-black-color);
}

.header-logo__indents {
  padding: 24px 0;
  margin-right: 93px;
}

/* Navigation */
.nav__list {
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding: 32px 0;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: var(--trans);
}
.nav__current {
  color: var(--accent-color);
  position: relative;
}
.nav__current::after {
  content: "";
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;

  position: absolute;
  left: 0;
  bottom: -2px;
}
.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}
/* ---------Adress Nav------- */
.contact-list {
  display: flex;
}

.contact-item:not(:last-child) {
  margin-right: 30px;
}

.contact__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;

  transition: var(--trans);
}

.contact__link-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact__link-text {
  display: block;
  font-size: 14px;
}

.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}
