.work {
  padding-top: 0;
  padding-bottom: 94px;
}
.work .list {
  display: flex;
}
.work-img-item {
  margin-right: 30px;
  position: relative;
}
.work-img-item:last-child {
  margin-right: 0;
}
.work-label-container {
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 0;
  display: flex;

  width: 370px;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}
.work-label-title {
  color: #ffffff;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
