.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.page {
  margin: 0;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  position: relative;
  padding-top: 80px;
}

.section-title {
  color: var(--title-text-color);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-top: 0;
  margin-bottom: 50px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.flex {
  display: flex;
}
