@import "./page";
@import "./container";
@import "./logo";
@import "./button";
@import "./section-title";

.section {
  padding: 94px 0;
}

.flex {
  display: flex;
}

.title {
  color: var(--title-text-color);
}
